
.movies_wrap{
    width: 50%;
}
.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    h1{
        font-size: 1em;
        p{
            width: 100%;
            text-align: center;
        }
    }
    img{
        max-width: 100%;
    }
}